<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="labelenum" id="ppsspp_cpu_core" values="jit|interpreter" default="jit"/>
		<setting label="30002" type="labelenum" id="ppsspp_locked_cpu_speed" values="off|222MHz|266MHz|333MHz" default="off"/>
		<setting label="30003" type="labelenum" id="ppsspp_language" values="automatic|english|japanese|french|spanish|german|italian|dutch|portuguese|russian|korean|chinese_traditional|chinese_simplified" default="automatic"/>
		<setting label="30004" type="labelenum" id="ppsspp_rendering_mode" values="buffered|nonbuffered|read_framebuffers_to_memory_cpu|read_framebuffers_to_memory_gpu" default="buffered"/>
		<setting label="30005" type="labelenum" id="ppsspp_auto_frameskip" values="enabled|disabled" default="disabled"/>
		<setting label="30006" type="labelenum" id="ppsspp_frameskip" values="0|1|2|3|4|5|6|7|8|9" default="0"/>
		<setting label="30007" type="labelenum" id="ppsspp_framerate_limit" values="0|15|20|30|45|50|60" default="0"/>
		<setting label="30008" type="labelenum" id="ppsspp_force_max_fps" values="enabled|disabled" default="disabled"/>
		<setting label="30009" type="labelenum" id="ppsspp_audio_latency" values="0|1|2" default="0"/>
		<setting label="30010" type="labelenum" id="ppsspp_internal_resolution" values="480x272|960x544|1440x816|1920x1088|2400x1360|2880x1632|3360x1904|3840x2176|4320x2448|4800x2720" default="480x272"/>
		<setting label="30011" type="labelenum" id="ppsspp_output_resolution" values="480x272|960x544|1440x816|1920x1088|2400x1360|2880x1632|3360x1904|3840x2176|4320x2448|4800x2720" default="480x272"/>
		<setting label="30012" type="labelenum" id="ppsspp_button_preference" values="cross|circle" default="cross"/>
		<setting label="30013" type="labelenum" id="ppsspp_fast_memory" values="enabled|disabled" default="enabled"/>
		<setting label="30014" type="labelenum" id="ppsspp_set_rounding_mode" values="enabled|disabled" default="enabled"/>
		<setting label="30015" type="labelenum" id="ppsspp_block_transfer_gpu" values="enabled|disabled" default="enabled"/>
		<setting label="30016" type="labelenum" id="ppsspp_texture_scaling_level" values="0|1|2|3|4|5" default="1"/>
		<setting label="30017" type="labelenum" id="ppsspp_texture_scaling_type" values="xbrz|hybrid|bicubic|hybrid_bicubic" default="xbrz"/>
		<setting label="30018" type="labelenum" id="ppsspp_texture_anisotropic_filtering" values="off|1x|2x|4x|8x|16x" default="off"/>
		<setting label="30019" type="labelenum" id="ppsspp_texture_deposterize" values="enabled|disabled" default="disabled"/>
		<setting label="30020" type="labelenum" id="ppsspp_internal_shader" values="off|fxaa|crt|natural|vignette|grayscale|bloom|sharpen|inverse|scanlines|cartoon|4xHQ|aa-color|upscale" default="off"/>
		<setting label="30021" type="labelenum" id="ppsspp_gpu_hardware_transform" values="enabled|disabled" default="enabled"/>
		<setting label="30022" type="labelenum" id="ppsspp_vertex_cache" values="enabled|disabled" default="enabled"/>
		<setting label="30023" type="labelenum" id="ppsspp_prescale_uv" values="enabled|disabled" default="disabled"/>
		<setting label="30024" type="labelenum" id="ppsspp_separate_io_thread" values="enabled|disabled" default="disabled"/>
		<setting label="30025" type="labelenum" id="ppsspp_unsafe_func_replacements" values="enabled|disabled" default="enabled"/>
		<setting label="30026" type="labelenum" id="ppsspp_sound_speedhack" values="enabled|disabled" default="disabled"/>
		<setting label="30027" type="labelenum" id="ppsspp_threaded_input" values="enabled|disabled" default="disabled"/>
	</category>
</settings>
